{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="project-button"><p>PROJECTS</p></div>
    <div class ="project-title1"><strong><p>Project Title 1</p></strong></div>
    <div class="preview-button1"><a href=''>Preview Button</a></div>
    <div class="preview-button2"><a href=''>Preview Button</a></div>
    <div class="source-code-button1"><a href=''>Source Code Button</a></div>
    <div class="source-code-button2"><a href=''>Source Code Button</a></div>
    <div class="tutorial-button1"><a href=''>Tutorial Button</a></div>
    <div class="tutorial-button2"><a href=''>Tutorial Button</a></div>
    <div class="project-title2"><strong><p>Project Title 2</p></strong></div>
    <div class="coming-soon-img1"><img src="/static/coming soon.png" style="width:250px;height:250px;"></div>
    <div class="coming-soon-img2"><img src="/static/coming soon.png" style="width:250px;height:250px;"></div>
    {% endblock %}
</body>
</html>